<link rel="stylesheet" href="/asset/css/footer.css">
<footer class=" navbar-expand-lg navbar-dark bg-primary ">
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
           <img src="{{ asset('/asset/pictures/facebook.png') }}" class="resaux"/>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">  <img src="{{ asset('/asset/pictures/instagram.png') }}" class="resaux"/></a>
      </li>
      <li class="nav-item">
           <a class="nav-link" href="#">  <img src="{{ asset('/asset/pictures/twitter.png') }}" class="resaux"/></a>
      </li>
    </ul>
  </div>
</footer>