.article{
    width: 50%;
    height: 50%;
    border: red 1px solid;
    margin-bottom: 20px;
}

.comments{
    width: 50%;
    height: 50%;
    border: black 1px solid;
    margin-bottom: 20px;
}

.comment_form{
    width: 50%;
    height: 50%;
    border: green 1px solid;
    margin-bottom: 20px;
}