body{
    background-color: rosybrown;
    overflow-x: hidden; 
    overflow-y: hidden; 
}
.Tlicorne{
    margin-top: 10%;
    width: 100%;
}
.Tcentre{
    margin-left: auto;
    margin-right: auto;
    width: 16em;
    color: #FFD700;
}



.licorne{
  width:400px;
  animation-duration: 2s;
  animation-name: slidein;
  margin-left: 42%;
}





  @keyframes slidein {
    0%   { margin-left: 100%;
      width: 900px; }
    25%  {margin-left: 100%;
      width: 900px;}
    50%  {margin-left: 100%;
      width: 900px;}
    100% { margin-left: 42%;;
      width: 400px;}
  }
  
  
  

  @import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:500,1200);

  .ti {
    color: #265687;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 72px;
    font-weight: 400;
    letter-spacing: -0.05em;
    text-align: center;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
  }
  .ti em {
    font-style: normal;
    display: inline-block;
  }
  .dec em:nth-child(3) {
    color:rosybrown;
    text-shadow: 3px 5px 5px rosybrown;
  }
  .dec em:nth-child(9) {
    color:rosybrown;
    text-shadow: 3px 5px 5px rosybrown;
  }
  .dec em:nth-child(13) {
    color:rosybrown;
    text-shadow: 3px 5px 5px rosybrown;
  }
  .dec em:nth-child(22) {
    color:rosybrown;
    text-shadow: 3px 5px 5px rosybrown;
  }
  .ti em.bounce-me {
    -webkit-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out;
  }
  
  @-webkit-keyframes bounce {
    60% {
      -webkit-transform: translate(0px, -85px) scale(1.2);
      opacity: 0.8;
      text-shadow: 0px 150px 20px rgba(0, 0, 0, 0.8);
    }
  }
  @keyframes bounce {
    60% {
      -webkit-transform: translate(0px, -85px) scale(1.2);
      opacity: 0.8;
      text-shadow: 0px 150px 20px rgba(0, 0, 0, 0.8);
    }
  }
  