{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Accueil administration' %}

{% block page_content %}


	<div class="container">

		<div class="row">
			<div class="stats col-6">
				<h2>Nombre d'utilisateurs enregistrés</h2>
				<div class="col-12 alert-info">
					<span class="display-3">{{countAllUsers['value']}}</span>
				</div>
			</div>

			<div class="stats col-6">
				<h2>Nombre d'articles</h2>
				<div class="col-12 alert-success">
					<span class="display-3">{{countAllUsers['value']}}</span>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
