<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/asset/css/bootstrap.min.css">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    
        {% include "include/nav.html.twig" %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
       
    </body>
     {% include "include/footer.html.twig" %}
</html>
