{% extends 'base.html.twig' %}

{% block title %}créer compte
{% endblock %}

{% block body %}
	<h1>créer compte</h1>

	{{ include('users/_form.html.twig') }}

	<a class="btn btn-primary "style="width: 9%;"href="{{ path('accueil') }}">retour accueil</a>
{% endblock %}
